.search_filter_top_controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search_filter_top_right_section {
  width: 15rem;
  display: flex;
  gap: 0.4rem;
}

.search_filter_text {
  font-weight: 500;
  margin-top: 0.3rem;
  font-size: 1.1rem;
}
